.each-movie-description-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161617;
}
.back-btn-image-container {
  display: flex;
  flex-direction: row;
}
.back-btn {
  height: 45px;
  width: 110px;
  background-color: #ffffff;
  color: #161617;
  font-size: 16px;
  font-family: 'Roboto';
}
.specific-movie-image {
  height: 30%;
  width: 40%;
}
.specific-movie-title {
  color: #ffffff;
  font-size: 32px;
  font-family: 'bree-serif';
  font-weight: bold;
  text-align: center;
}
.movie-text-description-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.movie-misc-text {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
}
.genres-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.genres-value-container {
  width: 330px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  align-self: center;
  flex-wrap: wrap;
  margin: 0px;
  padding: 2px;
}
.each-genre {
  color: #989c9e;
  font-size: 15px;
  font-family: 'Roboto';
}
.movie-overview {
  color: #60696e;
  font-size: 16px;
  font-family: 'Roboto';
}
.movie-misc-value {
  color: #989c9e;
  font-size: 14px;
  font-family: 'Roboto';
}
.movie-cast-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: centere;
  list-style-type: none;
}
.each-cast-item {
  width: 230px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 6px;
  box-shadow: 0px 0px 1px 1px #edf0f5;
}
.cast-image {
  height: 60%;
  width: 100%;
}
.cast-name {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: bold;
}
.cast-name-value {
  color: #294ba6;
  font-size: 14px;
  font-family: 'Bree Serif';
  font-style: italic;
}