.header-container {
  height: 100px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #0c1154;
  color: #ffffff;
}
.movieDb-title {
  color: #4c915c;
  font-size: 20px;
  font-family: 'Roboto';
  background-color: transparent;
  border-width: 0px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
.categories-container {
  display: flex;
  flex-direction: row;
  width: 35%;
  justify-content: space-between;
  align-items: center;
}
.category-text {
  background-color: transparent;
  border-width: 0px;
  color: #ffffff;
  font-size: 10px;
  font-family: 'Roboto';
  cursor: pointer;
  text-decoration: none;
}
.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 37px;
  width: 280px;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
}
.search-btn {
  background-color: #ffffff;
  height: 100%;
  width: 20%;
  border-width: 0px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-element {
  height: 100%;
  width: 80%;
  background-color: transparent;
  border-width: 0px;
  font-size: 14px;
  color: #ffffff;
}


