.header-container {
  height: 100px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #0c1154;
  color: #ffffff;
}
.logo-title-link {
  text-decoration: none;
}
.movieDb-title {
  color: #4c915c;
  font-size: 35px;
  font-family: 'Roboto';
  background-color: transparent;
  border-width: 0px;
  font-weight: bold;
  cursor: pointer;
}
.categories-container {
  display: flex;
  flex-direction: row;
  width: 19%;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.category-link {
  border-width: 0px;
  cursor: pointer;
  text-decoration: none;
}
.category-heading {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
}
.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 37px;
  width: 270px;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
}
.input-element {
  height: 100%;
  width: 72%;
  background-color: transparent;
  border-width: 0px;
  font-size: 14px;
  color: #ffffff;
}

.search-btn {
  height: 100%;
  width: 28%;
  margin: 5px;
  cursor: pointer;
  color: #ffffff;
  background-color: #0e1e82;
  border-width: 0px;
}
